echo "*.pyc" > .gitignore
echo "__pycache__/" >> .gitignore
echo "*.sqlite3" >> .gitignore
echo "*.log" >> .gitignore
echo "venv/" >> .gitignore
echo "env/" >> .gitignore
echo "staticfiles/" >> .gitignore
echo "*.egg-info/" >> .gitignore